.wholeFoot{
    /* padding: 2rem; */
    margin-top: 5rem;
}
.wholeFoot h4{
    text-align: center;
    padding: 0.52rem;
    font-weight: lighter;
    color: white;
    background-color: #6356FF;

}
.backFoot{
    background: #E9E9E9;
    padding: 4rem;

}

.footContent{
    /* display: flex; */
    justify-content: space-between;
    /* background-color: green; */
    flex-wrap: wrap;
    box-sizing:content-box;
    text-align: center;
    text-align: center;

}

.footContent ul li{
    text-decoration: none;
    list-style: none;
    display: flex;
   justify-content: center;
   text-align: center;
}
.footContent ul {
  
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0.82rem;
    padding-bottom:1.5rem ;

}
.footContent h5{
    font-size: 1.6rem;
    padding: 0.62rem;
}

.footContent abbr{
    cursor: pointer;
}
.ownBranding h5{
    font-size: 0.92rem;
}
.ownBranding h6{
    font-size: 0.72rem;
}
.ownBranding {
    padding-bottom:0.7rem ;

}
