*{
    margin: 0;
    padding: 0;

    
}

.FormBody ::placeholder{
    font-size: medium;
}
.FormBody{
padding: 0rem 0rem;    

}
.FormHeadder{
    text-align: center;
    padding: 3.7rem 0rem 0rem 0rem;    
}
.FormHeadder svg{
    height: 100%;
    width:100%;
    position: sticky;
    top: 3.68rem;
}
.FormHeadder h1{
    margin-top: 1rem;
    font-weight: 650;
    font-size: 6rem;
}
.FormHeadder h3{
    /* margin-left: 35rem; */
    font-weight: normal;
    padding: 0rem 0rem 4rem 0rem;    
    color: rgba(0, 0, 0, 0.584);
    margin-bottom: 2rem;
}
abbr{
    cursor:text;
}
.Uplodeimg abbr{
    cursor:pointer;

}
.Form-01{
    padding: 0rem 5rem 4rem 5rem;    

}
.Uplodeimg{
    text-align: center;
}
.Uplodeimg h6{
    padding: 1rem;
    color: rgb(222, 221, 221);
    font-weight: normal;
}
.Inital-details{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    width: 100%;
}
.Initial-details-inputs{
    /* background-color: black; */
    display: flex;
    flex-wrap:wrap; 
    justify-content: space-evenly;
    gap: 2rem;
    width: 100%;
    padding: 2rem 1.5rem;
}
.Initial-details-inputs input{
    border: none;
    outline: none;
    height: 3.4rem;
    font-size: 1.4rem;
    width: 100%;
    border-radius: 7px;
    padding: 1rem;

}
.Form-01_color-back{
    /* display: grid; */
    padding: 4rem 2rem 4rem 2rem;    
    border-radius: 22.048px;
    background: linear-gradient(181deg, rgba(26, 6, 255, 0.68) 50.96%, rgba(26, 6, 255, 0.22) 100%);

}
.Rest-big-details{
    text-align: center;
    padding: 4rem 1rem;

}
.Rest-big-details h1{
    padding: 2rem 0rem 1rem 0rem;
    color: white;

}
.Rest-big-details textarea{
    height: inherit;
    width: 73%;
    height: 20rem;
   max-width: 100%;
   max-height: 25rem;
   border: none;
   outline: none;
   border-radius: 0.99rem;
   padding: 1rem;
   font-size: 1.2rem;
   transition: ease-in-out 0.5s;

}

.Rest-big-details textarea:last-child{
    height: 10rem;
}



 textarea:focus{
   outline: none;
   transform: scale(1.05);

}

.Form-02{
    padding: 0rem 5rem 4rem 5rem;    

}
.Form-02 h1{
    padding: 2rem 0rem 1rem 0rem;
    color: white;
}
.Form-02_color-back{
    padding: 4rem 2rem 4rem 2rem;   
    text-align: center;
    border-radius: 22.048px;
background: linear-gradient(9deg, rgba(26, 6, 255, 0.63) 50.96%, rgba(26, 6, 255, 0.22) 100%);
}

.mx-obj-and-Link{
    display:inline-flex;
    /* grid-column:auto; */
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    /* background-color: black; */
    

}

.objectives  textarea{
    width: 33rem;
    height: 100%;
   max-width: 100%;
   max-height: 25rem;
   border: none;
   outline: none;
   
   border-radius: 0.99rem;
   padding: 1rem;
   font-size: 1.2rem;
   transition: ease-in-out 0.5s;

}



.mx-intrst-and-lang{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}


.link-inputs {
    display: grid;
    /* flex-wrap:wrap;  */
    justify-content: space-evenly;
    gap: 2rem;
    width: 100%;
    /* padding: 2rem 1.5rem; */
}
.link-inputs input{
    border: none;
    outline: none;
    height: 3.4rem;
    font-size: 1.4rem;
    width: 100%;
    border-radius: 7px;
    padding: 1rem;
    transition: ease-in-out 0.55s;
    border:2px solid rgba(135, 207, 235, 0);

}

.Contacts-Links input:focus{
    transform: scale(1.05 , 1.05);
    
 
 }

.intern-dv textarea{
    height: inherit;
    width: 73%;
    height: 20rem;
   max-width: 100%;
   border-radius: 0.99rem;
   

}

.mx-intrst-and-lang textarea{
    height: inherit;
    width: 24rem;
    height: 20rem;
   max-width: 100%;
   max-height: 25rem;
   border-radius: 0.99rem;
   padding: 1rem;
   font-size: 1.2rem;
   transition: ease-in-out 0.5s;

}

.download-resume-dv{
    padding:  4rem 27vw 0 27vw;
    max-width: 77vw;
    box-sizing:content-box;
}

.Download_button{
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    padding: 0rem 3rem 0rem 0 ;
    border-radius: 0.4rem;


}
.Download_button h2{
    padding: 1.5rem 0 1rem 0 ;
 width: 100%;
 /* background-color: greenyellow; */


}
.Download_button img{
 width: 4rem;
 /* height: 7rem; */
 padding: 1rem 0 0 0 ;
 background-color: gainsboro;
}



@media (max-width:1160px) {
    .Contacts-Links{
        padding: 5rem 0 0 0;
    }
    .objectives textarea{
        /* width: 33rem;
        height: 100%;
       max-width: 100%;
       max-height: 100%;
       border-radius: 0.99rem;
       padding: 1rem;
       font-size: 1.2rem;
       transition: ease-in-out 0.5s; */
    }
    .Form-01{
        padding: 0rem 2rem 2rem 2rem;    
    
    }
    .Form-01_color-back{
        padding: 0rem ;    
        border-radius: 22.048px;
    
    }
    .Form-02{
        padding: 0rem 2rem 2rem 2rem;    
    
    }
    
    
}

@media (max-width:580px) {

    .Form-01{
        padding: 0rem 1rem 2rem 1rem;    
    
    }
    .Form-02{
        padding: 0rem 1rem 3rem 1rem;    
    
    }
    
    .FormHeadder svg{
        width:100%;
        position: sticky;
        top: 3rem;
        margin-top: -1rem;
    }
    .Form-01_color-back{
        /* display: grid; */
        padding: 0;    
        margin: 0;
        border-radius: 10px;
    
    }
    .Form-02_color-back{
        /* display: grid; */
        padding: 0 0 2rem 0;    
        margin: 0;
        border-radius: 10px;
    
    }
    

    .Initial-details-inputs input{
        
        height: 3.4rem;
        font-size: 1.4rem;
        width: 75vw;
        border-radius: 7px;
        padding: 1rem;
    
    }
    .link-inputs input{
        height: 3.4rem;
        font-size: 1.4rem;
        width: 75vw;
        border-radius: 7px;
        padding: 1rem;
        border-radius: 0.44rem;

    
    }

    .objectives textarea{
        width: 75vw;
        border-radius: 0.44rem;   
       transition: ease-in-out 0.1s;
    }

    .intern-dv textarea{
        width: 75vw;
        border-radius: 0.44rem;  
       
    
    }

    .mx-intrst-and-lang  textarea{
        width: 75vw;
        border-radius: 0.44rem;      
        transition: ease-in-out 0.1s;
    }
    
    .Rest-big-details textarea{
        width: 75vw;
        border-radius: 0.44rem;
        padding: 1rem;
        font-size: 1.2rem;
    }


    .download-resume-dv{
        padding:  4rem 2vw 0 2vw;
        max-width: 88vw;
    }
    
    .Download_button{
        display: flex;
        flex-wrap: nowrap;
        padding: 0rem 3rem 0rem 0 ;
        border-radius: 5rem;
        height: 3.4rem;
        /* gap: 2rem; */
    
    
    }
    .Download_button h2{
        padding: 0.89rem 0.21rem 1rem 1.5rem ;
     font-size: 1.4rem;
     /* background-color: greenyellow; */
    
    
    }
    .Download_button img{
     padding: 1rem 0rem 0 0rem ;
     background-color: gainsboro;
     /* margin-left: 2rem; */
     margin-right: -1rem;
    }
    
    
}