*{
    margin: 0;
    padding: 0;
   
}
.demoused{
    display: grid;
    grid-template-columns: repeat(1,100%);
    width: min(95%,70rem);
    margin-inline: auto;
    padding-block: 2rem;
}
.ormWholeThings{
 display: flex;
}

.FormBody ::placeholder{
    font-size: medium;
}
.FormBody{
padding: 0rem 0rem;    

}
.FormHeadder{
    text-align: center;
    /* padding: 3.7rem 0rem 0rem 0rem;     */
}
.FormHeadder svg{
    height: 100%;
    width:100%;
    position: sticky;
    top: 3.68rem;

}


.ImageInput img{
    
    height: 12rem;
    width:100%;
    position: sticky;
    cursor: pointer;

}

.UploadedImageReview img{
    text-align: center;
    height: 12rem;
    width:12rem;
    border-radius: 100%;
}
.FormHeadder h1{
    margin-top: 1rem;
    font-weight: 650;
    font-size: 6rem;
}
.FormHeadder h3{
    /* margin-left: 35rem; */
    font-weight: normal;
    padding: 0rem 0rem 4rem 0rem;    
    color: rgba(0, 0, 0, 0.584);
    margin-bottom: 2rem;
}
abbr{
    cursor:text;
}
.Uplodeimg abbr{
    cursor:pointer;

}
.Form-01{
    padding: 0rem 5rem 4rem 5rem;    

}
.Uplodeimg{
    text-align: center;
}
.Uplodeimg h6{
    padding: 1rem;
    color: rgb(222, 221, 221);
    font-weight: normal;
}
.Inital-details{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    width: 100%;
}
.Initial-details-inputs{
    /* background-color: black; */
    display: flex;
    flex-wrap:wrap; 
    justify-content: space-evenly;
    gap: 2rem;
    width: 100%;
    padding: 2rem 1.5rem;
}
.Initial-details-inputs input{
    border: none;
    outline: none;
    height: 3.4rem;
    font-size: 1.4rem;
    width: 100%;
    border-radius: 7px;
    padding: 1rem;

}
.Form-01_color-back{
    /* display: grid; */
    padding: 4rem 2rem 4rem 2rem;    
    border-radius: 22.048px;
    background: linear-gradient(181deg, rgba(26, 6, 255, 0.68) 50.96%, rgba(26, 6, 255, 0.22) 100%);

}
.Rest-big-details{
    text-align: center;
    padding: 4rem 1rem;

}
.Rest-big-details h1{
    padding: 2rem 0rem 1rem 0rem;
    color: white;

}
.Rest-big-details textarea{
    height: inherit;
    width: 73%;
    height: 20rem;
   max-width: 100%;
   max-height: 25rem;
   border: none;
   outline: none;
   border-radius: 0.99rem;
   padding: 1rem;
   font-size: 1.2rem;
   transition: ease-in-out 0.5s;

}

.Rest-big-details textarea:last-child{
    height: 10rem;
}



 textarea:focus{
   outline: none;
   transform: scale(1.05);

}

.Form-02{
    padding: 0rem 5rem 4rem 5rem;    

}
.Form-02 h1{
    padding: 2rem 0rem 1rem 0rem;
    color: white;
}
.Form-02_color-back{
    padding: 4rem 2rem 4rem 2rem;   
    text-align: center;
    border-radius: 22.048px;
background: linear-gradient(9deg, rgba(26, 6, 255, 0.63) 50.96%, rgba(26, 6, 255, 0.22) 100%);
}

.mx-obj-and-Link{
    display:inline-flex;
    /* grid-column:auto; */
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    /* background-color: black; */
    

}

.objectives  textarea{
    width: 33rem;
    height: 100%;
   max-width: 100%;
   max-height: 25rem;
   border: none;
   outline: none;
   
   border-radius: 0.99rem;
   padding: 1rem;
   font-size: 1.2rem;
   transition: ease-in-out 0.5s;

}




.mx-intrst-and-lang{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}


.link-inputs {
    display: grid;
    /* flex-wrap:wrap;  */
    justify-content: space-evenly;
    gap: 2rem;
    width: 100%;
    /* padding: 2rem 1.5rem; */
}
.link-inputs input{
    border: none;
    outline: none;
    height: 3.4rem;
    font-size: 1.4rem;
    width: 100%;
    border-radius: 7px;
    padding: 1rem;
    transition: ease-in-out 0.55s;
    border:2px solid rgba(135, 207, 235, 0);

}

.Contacts-Links input:focus{
    transform: scale(1.05 , 1.05);
    
 
 }

.intern-dv textarea{
    height: inherit;
    width: 73%;
    height: 20rem;
   max-width: 100%;
   border-radius: 0.99rem;
   

}

.mx-intrst-and-lang textarea{
    height: inherit;
    width: 24rem;
    height: 20rem;
   max-width: 100%;
   max-height: 25rem;
   border-radius: 0.99rem;
   padding: 1rem;
   font-size: 1.2rem;
   transition: ease-in-out 0.5s;

}

.download-resume-dv{
    padding:  4rem 27vw 0 27vw;
    max-width: 77vw;
    box-sizing:content-box;
}




.default-massaging-passing{
    text-align: center;
    justify-content: center;
    /* margin-top: 2rem; */
    /* background-color: greenyellow; */
    padding: 2rem;
    border-radius: 0.3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    position: relative;
    
    
}
.default-massaging-passing button{
    /* height: 2rem; */
    /* width:12vh ; */
    padding: 0.82rem;
    /* background-color: skyblue; */
    border-radius: 0.3rem;
    border: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.306);
   cursor: pointer;
   transition: ease-in-out 0.2s;
}


.default-massaging-passing :first-child{
        background-color: #5345FF ;
        color: white;
}
.default-massaging-passing :last-child{
    background-color:rgb(230, 230, 230) ;

   
}

.default-massaging-passing :first-child:active{
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    background-color: greenyellow;
    color: black;

}
.default-massaging-passing :last-child:active{
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    background-color: red;

}

.resumeshoing button{
    display: flex;
    justify-content:space-between;
    padding: 0.61rem 4rem;
    border-radius: 12rem;
    border-color: transparent;
    outline: transparent;
}
.resumeshoing button:hover{
   box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.327);
}
.resumeshoing{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin-top: 2rem;
}


@media (max-width:1160px) {
    .Contacts-Links{
        padding: 5rem 0 0 0;
    }
    /* .objectives textarea{
        width: 33rem;
        height: 100%;
       max-width: 100%;
       max-height: 100%;
       border-radius: 0.99rem;
       padding: 1rem;
       font-size: 1.2rem;
       transition: ease-in-out 0.5s;
    } */
    .Form-01{
        padding: 0rem 2rem 2rem 2rem;    
    
    }
    .Form-01_color-back{
        border-radius: 22.048px;
    
    }
    .Form-02{
        padding: 0rem 2rem 2rem 2rem;    
    
    }
    
    
}

@media (max-width:580px) {

    .Form-01{
        padding: 0rem 1rem 2rem 1rem;    
    
    }
    .Form-02{
        padding: 0rem 1rem 3rem 1rem;    
    
    }
    
    .FormHeadder svg{
        width:100%;
        position: sticky;
        top: 3rem;
        margin-top: -1rem;
    }
    .Form-01_color-back{
         
        margin: 0;
        border-radius: 10px;
    
    }
    .Form-02_color-back{
        /* display: grid; */
        padding: 0 0 2rem 0;    
        margin: 0;
        border-radius: 10px;
    
    }
    

    .Initial-details-inputs input{
        font-size: 1rem;
        height: 3.4rem;
        font-size: 1.4rem;
        width: 75vw;
        border-radius: 7px;
        padding: 1rem;
    
    }
    .link-inputs input{
        height: 3.4rem;
        font-size: 1rem;
        width: 75vw;
        padding: 1rem;
        border-radius: 0.44rem;

    
    }

    .objectives textarea{
        font-size: 1rem;
        width: 75vw;
        border-radius: 0.44rem;   
       transition: ease-in-out 0.1s;
    }

    .intern-dv textarea{
        font-size: 1rem;
        width: 75vw;
        border-radius: 0.44rem;  
       
    
    }

    .mx-intrst-and-lang  textarea{
        font-size: 1rem;
        width: 75vw;
        border-radius: 0.44rem;      
        transition: ease-in-out 0.1s;
    }
    
    .Rest-big-details textarea{
        font-size: 1rem;
        width: 75vw;
        border-radius: 0.44rem;
        padding: 1rem;
        font-size: 1.2rem;
    }


    .download-resume-dv{
        padding:  4rem 2vw 0 2vw;
        max-width: 88vw;
    }
     
}