*{
  margin: 0;
  padding: 0;
}
   
   
   nav{
    padding: 0.55rem 3rem ;
    border-bottom: 1px solid rgba(0, 0, 0, 0.276);
    /* position: static; */
    /* z-index: 2; */

   }
   

   .navElements{
     display: flex;
     justify-content: space-between;
     width: 100%;
     height: auto ;
     max-width: 1480px;
     align-items: center;

   }
   .logo{  
     /* margin-left: 7rem; */
     gap: 0.5rem;
     display: flex;
     cursor: pointer;

   }
   .logo h3{
    font-family:cursive;

   }
   .logo_icon{
     font-size: 1.3rem;
     background-color: #0116ff;
     border: 1px solid rgba(0, 0, 0, 0);
     font-weight: bold;
     border-radius: 0.6rem;
     padding:  0.2rem 0.4rem 0.2rem 0.4rem;
     margin-top: -0.29rem;
     color: white;
     /* font-family:cursive; */

   }
   .navElements .LinkComponents{ 
     max-width: 1200px;
     margin-left: 10%;
     gap: 2rem;
   }
   
   .navElements ul {
     
     display: flex;
     gap: 50px; 
     
   }
   .navElements li{
    padding: 0.4rem .5rem;
    background-color: transparent;
    border-radius: 0.34rem  ;
    cursor: pointer;
    transition: 0.3s;

   
   }
   .navElements li:hover{
    background-color: #E4E8EC;


   }
   .navElements ul > li{
     display:inline-flex;
     /* margin-left: 10%; */
   
   }
   
   .user_click_buttons{  
     display: flex;
     gap: 1.4rem; 
     margin-left:10%;
   }
   .logInButton{
    padding: 0.6rem 2rem;
    background-color: #E4E8EC;
    border-radius: 0.34rem  ;
    cursor: pointer;
    transition: 0.7s;

   }
   .logInButton:hover{
    transform : scale(1.1,1.1);
   }
   .Create_cv{
    background-color: #4031F4;
    color: white;
    border-radius: 0.34rem ;
    border-color:transparent ;
    padding: 0.6rem 2rem;
    cursor: pointer;
    transition: 0.6s;


   }
   .Create_cv:hover{
    transform : scale(1.05,1.05);
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.18);
    background-color: #0116ff;
   }

   .OpenMenuRight{
    display: none;
    cursor: pointer;
   }


   .openMenuSlider{
    display: none;
    transition: transform 0.3s ease-in-out;
    text-align: left;
    padding: 2rem;
    border-radius: 8px;
    background: linear-gradient(135deg, #1400FF 0%, rgba(93, 84, 200, 0.61) 100%);    height: 50vh;
    /* width: 1306px; */
    height: 44vw;
    /* flex-shrink: 0;  */
    margin-left: 10rem;
    z-index: 2;
    position: fixed;
    
  }

   /* ---------------- */

 
  .closeMenu svg{
    width:40px ;
    height:36px;
    /* background-color: black; */
    padding: 0.4rem 0.6rem;
    border-radius: 0.2rem;
    cursor: pointer;
  }
  .closeMenu svg:hover{
    background-color: #0015ff;


  }
  
  
 .user_click_button_mobile{
     display: inline-flex;
     gap: 1.4rem; 
     text-align: center;
    }
 .resume_crete_button-mobile{   
  background-color: #0A0083;
    color: white;
    border-radius: 0.34rem ;
    padding: 0.6rem 2rem;
    cursor: pointer;
    transition: 0.6s;
 }
 .LoginButton-mobile{
   padding: 0.6rem 2rem;
    background-color: #E4E8EC;
    border-radius: 0.34rem  ;
    cursor: pointer;
    transition: 0.7s;
 }
 .nav_links_mobile{
  padding: 1rem 0rem ;
 }
 .nav_links_mobile ul li{ 
  border: 1px solid rgba(0, 0, 0, 0);
  color: white;
  list-style: none;
  line-height: 2rem;
  font: size 2vw;
  
}

   .OpenMenuRight svg{
    width: 40px;
    height: 34px;
    padding: 0.1rem 0.3rem;
    border-radius: 0.3rem;
   }
   .OpenMenuRight svg:hover{
    background-color: rgba(0, 0, 0, 0.176);

   }
  
/* ------------------- */
  
   /* 1st fire  */
   @media (max-width:1290px) {
    .user_click_buttons{
      gap: 1rem; 

    }
    .navElements .LinkComponents{ 
      max-width: 400px;
      margin-left: -3%;
    }
    .navElements ul {
      gap: 44px; 
    }
    .logo{  
      /* margin-left: 2rem; */
      gap: 0.5rem;
 
    }
   }

      /* 2nd  fire  */


   @media (max-width:1255px) {

    .navElements .LinkComponents{ 
      margin-left: 4%;
    }
    .navElements ul > li{
     margin-left: -5%;

    }
    
    .user_click_buttons{
      margin-right:4%;
      
      gap: 1rem; 

    }
    .Create_cv{
      font-size: 0.91rem ;
    }
    
   }

      /* 3rd  fire  */

   @media (max-width:1137px) {

    nav{
      padding: 0.65rem 1rem ;
    }
    .navElements ul > li{
      display:none;
     
    }
    .user_click_buttons{  
      display: none;
    }
    .OpenMenuRight{
      display: block;
      fill: #0116ff;
     }
     
     
     .openMenuSlider{
      display: block;
      
    }

    .openMenuSlider{
      
      transition: transform 0.3s ease-in-out;
      text-align: left;
      padding: 2rem;
      border-radius: 8px;
      background: linear-gradient(135deg, #1400FF 0%, rgba(93, 84, 200, 0.61) 100%);    height: 50vh;
      margin-top: -3.1rem;
      height: 35rem;
      margin-left: 10rem;
      
    }

    .resume_crete_button-mobile{
      font-size: 1.1rem;

      border: 2px solid rgba(0, 0, 0, 0);
      transition: ease-in-out 0.5s;
     }
     .resume_crete_button-mobile:hover{
      background-color: transparent;
      color: rgb(255, 255, 255);
      border: 2px solid rgb(255, 255, 255);
     }
    

     .LoginButton-mobile{
     font-size: 1.1rem;
     border: 2px solid  rgba(255, 255, 255, 0);
     transition: ease-in-out 0.5s;
    }
    .LoginButton-mobile:hover{
      background-color: transparent;
      border: 2px solid  white;
      color: white;
    }
     
    .nav_links_mobile ul li{
      text-align: center;
      padding: 0.6rem;
      font-size: 1.2rem;
      border-radius: 0.3rem;
      width: 100%;
      cursor: pointer;
    }
    .nav_links_mobile ul li:hover{
      text-decoration: underline;
      background-color: rgba(0, 0, 0, 0.123);
    }


   }

   /* 4th fire  */

   @media (max-width:585px) {

    nav{
      padding: 0.1rem 0.6rem ;
      border-bottom: 1px  solid rgba(0, 0, 0, 0.776);
      background-color: #fff;
      /* position:sticky;
      top: 10; */
    }

    .sec-1{
      margin-top: 0.71rem;
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     }

    .logo{  
      /* margin-left: 2rem; */
      gap: 0.4rem;
      font-size: 0.9rem;
       font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }
    .logo_icon{
      font-size: 01.2rem;
      border-radius: 0.4rem;
      /* padding:  0.2rem 0.4rem 0.2rem 0.4rem; */
      padding: 0.3rem 0.45rem;
      margin-top: -0.4rem;
      background-color: #0116ff;

    }
    .logo h3{
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

   }
    .user_click_button_mobile{
      display:table;
      gap: 1.4rem; 
      
     }
     .resume_crete_button-mobile{
      font-size: 1.1rem;
      margin-bottom: 1rem;
      padding: 1em ;
      width: 110%;
      border: 2px solid rgba(0, 0, 0, 0);
      transition: ease-in-out 0.5s;
     }
     .resume_crete_button-mobile:hover{
      transform : scale(1,.1.5);
      background-color: transparent;
      color: rgb(255, 255, 255);
      border: 2px solid rgb(255, 255, 255);
     }
    

     .LoginButton-mobile{
      width: 110%;
     font-size: 1.1rem;
     border: 2px solid  rgba(255, 255, 255, 0);
     transition: ease-in-out 0.5s;
    }
    .LoginButton-mobile:hover{
      background-color: transparent;
      border: 2px solid  white;
      color: white;
    }
     .openMenuSlider{
      transition: transform 0.3s ease-in-out;
      text-align: left;
      border-radius: 8px;
      padding:  5rem 2rem 5rem 1.2rem   ;
      background: linear-gradient(135deg, #1400FF 0%, rgba(93, 84, 200, 0.61) 100%);    height: 50vh;
      height: 43rem;
      margin-left: 8rem;
      margin-top: -3.1rem;

      
    }
    .nav_links_mobile ul li{
      text-align: center;
      padding: 0.6rem;
      font-size: 1.2rem;
      border-radius: 0.3rem;
      width: 110%;
    }
    .nav_links_mobile ul li:hover{
      text-decoration: underline;
      background-color: rgba(0, 0, 0, 0.123);
    }

    .closeMenu svg:hover{
      background-color: #6161634f;
      background-color: #0015ff;
  
    }
    
   }

   