.resumeWholeBack{
    padding: 0 22rem 0 22rem;
    /* text-align: center; */
    /* background-color: gray; */
}
.ResumeHead{
    background: #043382;
    box-shadow: -1.50932px 24.14917px 33.2051px 3.01865px rgba(0, 0, 0, 0.25);    color: white;
    height: 12rem;
    padding: 0 2rem;
    overflow: hidden;
}
.ResumeHead h1{
    /* font-family: Inter; */
font-size: rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.Name-post{
    background: #042B6B;
    transform: skewX(-16.47deg);
    width: fit-content;
    height: 12rem;
    padding: 1.5rem;
}
 .Name-post h1 {
   
    transform: skewX(16.47deg);
    
}
.ResumeDetails{
    display: flex;
    /* justify-content:space-between; */
    padding-left: 2rem;
    
}
.leftBlackDiv{
    width: 738.059px;
    height: 500px;
    flex-shrink: 0;
 background-color: black;
 color: white;
 width: 28%;
 
}
.rightWhiteDiv{
    background-color: greenyellow;
    width: 100%;

}