.ResumeWhole-body{
    padding: 5rem;
    margin: 0 auto;
    text-align: center;
    box-sizing: content-box;

}
.resumeWholeBack{
    background: greenyellow;
    border: 1px solid;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    width: 100%;

}
.resumeWholeBack img{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
}
.Name-post{
    display: flex;
    gap: 0.42rem;
    justify-content: center;
}
.ResumeDetails{
 border: 1px solid ;
 text-align: left;
 width: 100%;
}
.rightWhiteDiv{
    /* background: gray; */
    padding: 5rem;
}
.ResumeHead{
    border: 1px solid ;
    width: fit-content;
    display: grid;
    justify-content: center;
    /* width: 100%; */

}
