.Section03{
    margin-top: 15rem;
    overflow: hidden;
}
.Templates_head{
    display: flex;
    justify-content:center;
    gap: 5rem;
    padding: 0 5rem 0 8rem ;
    width: 100%;
}
.areroPlainVector img{
    z-index: 0;
    position: relative;
}
.Templates_head h1{
    font-size: 5rem;
    /* margin-left:-5rem */
}

.back_templetes{
    /* margin-top: -20rem; */
    /* overflow:hidden; */

}

.back_templetes {

    width: 100%;
    height: 100%  ;
    background: conic-gradient(from 1deg at 50% 50%, #1A06FF 176.57856345176697deg, rgba(26, 6, 255, 0.22) 353.96408557891846deg);
    /* object-fit:contain; */
   transform: rotate(-7.576deg);
   
   /* margin-left: 3.1rem; */
}

.showTemplates{
    /* margin-top: -38rem; */
    width: 100%;
    padding: 0 8rem 0 8rem;
   



}
.templates{
    text-align: center;
    display: flex;
    position:relative;
    z-index: 0;
    flex-wrap: nowrap;
    width: 100%;
    transform: rotate(7.576deg);
}

.templates img{
    /* width: 100%; */
    object-fit:contain;
}