.Section-02{
    padding: 0rem 4rem ;
    margin: 0;

}
.headder-sec-02{
    display: flex;
    padding:  0rem;
    width: 100%;
    margin-top: -1.1rem;

}
.headder-sec-02 svg{
    width: 100%;

}
.head-tag-text{
    padding: 10rem 0rem;
    margin-left: -6%;

}
.head-tag-text h1{
    /* padding: 0rem 0rem; */
    /* font-weight: normal; */
    font-size: 3rem;
    width: 100%;

}
.head-tag-text h4{
    padding: 0rem 0rem;
    font-weight: normal;
    font-size: 1.2rem;
    width: 100%;
    color: rgba(0, 0, 0, 0.575);

}
.blockOfSqures svg{
z-index: 0;
    width: 100%;
    z-index: -1;
    right:  4rem;
    
}

.blockOfSqures svg:not(:first-child) {
    display: none;
    width: 100%;
    z-index: -1;
    right:  4rem;
}

.Review-box-model{
   padding: 0.8rem 1.7rem;
   /* height: 15rem; */
   width: 100%;
   max-height: 100%;
    /* color: white; */
    box-sizing: 0 0 30px black;
    background-color: white;
    border-radius: 0.7rem;
    box-sizing:border-box;
    box-shadow: 0 0 19px rgba(0, 0, 0, 0.185);
    z-index: 4;

}

.content{
    padding: 0rem 0rem 0rem 46rem;
    z-index: 0;
    margin-top: -48rem;
    justify-content:right;
   display: grid;
   position:relative;
   gap: 2.4rem;
   box-sizing: border-box;
   margin-bottom: 1rem;

}
 .Review-box-model:nth-child(2) {
    /* margin-top: 1.9rem; */
margin-left: -4rem;
 
}

.Review-box-model:nth-child(1) {
margin-left: 0rem;
 
}

.head-box-model{
    border-color: rgba(0, 0, 0, 0.436);
    border-bottom: 5px;
    padding:  0rem 0rem 1rem 0rem ;
    width: 100%;
    float:right;
    

}
hr{

  border-color:rgba(0, 0, 0, 0.183) ;
  height: 0px;
  border-radius: 1px;

}
.riview-text{
    padding: 1.3rem 0rem;
    width: 100%;
    color: rgba(0, 0, 0, 0.655);
    
}
.Reviews-boxs .Review-box-model:last-child {
    padding: 1rem 2rem;
    height: 12rem;
    width: 100%;
     box-sizing: 0 0 30px black;
     background-color: white;
     border-radius: 1rem;
     box-sizing: border-box;
     box-shadow: 0 0 19px rgba(0, 0, 0, 0.185);
     margin-left: -30%;
}

.review-er-image img{
    height:100%;
    width: 2rem;
    transform: scale(1.4);
    border-radius: 0.341rem;
 
}
.review-er-image{
    padding: 1rem 0rem 1.4rem 0.4rem;
    width: 100%;
    /* border: 1px solid white; */
    
}
.head-box-model{
    display: inline-flex;
    padding: 0rem;
    flex-wrap: wrap;
    /* width: 100%; */
    justify-content: space-between;
    /* background-color: green; */


}
.review-er-details{
    display: flex;
    flex-wrap: nowrap;
    /* width: 100%; */
    /* background-color: blue; */

}
.review-er-name-post{
    max-width: 100%;
    padding: 0rem 0rem 0rem 0.2rem;
}
.review-er-name-post h1{
    font-size: 1.6rem;
    color: rgba(45, 45, 45, 0.874);
    font-weight: normal;

}
.review-er-name-post h6{
    font-size: .8rem;
    font-weight: 500;

    width: 145%;
    color: #4131f4a0;
}




/* ------------------- */


@media (max-width:1287px) {

   
    .riview-text{
        padding: 1rem 0rem;
        width: 100%;
    }

    .content{
        padding: 0rem 0rem 0rem 32rem;
        z-index: 0;
        margin-top: -35rem;
        justify-content:right;
       display: grid;
       position:relative;
       gap: 2rem;
       box-sizing: border-box;
    }
    .head-box-model{
        display: inline-flex;
        padding: 0.2rem;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        /* background-color: green; */
    
    
    }
    
}

@media (max-width:1137px) {

    .head-tag-text h4{
        padding: 0rem 0rem;
        font-weight: normal;
        font-size: 1rem;
        width: 100%;
    
    }
    .head-tag-text h1{
        padding: 0rem 0rem;
        font-size: 2.5rem;
        width: 110%;
    
    }
    .blockOfSqures svg{
        
        margin-top: -3rem;
    }

    .head-tag-text{
        padding: 9rem 25rem 0rem 0rem;
        margin-left: -10%;
        width: 100%;
    
    }
    .riview-text{
        padding: 1rem 0rem;
        width: 100%;
    }

    .content{
        padding: 0rem 0rem 0rem 18rem;
        z-index: 0;
        margin-top: -35rem;
        justify-content:right;
       display: grid;
       position:relative;
       gap: 2rem;
       box-sizing: border-box;
    }
    .head-box-model{
        display: inline-flex;
        padding: 0.2rem;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        /* background-color: green; */
    
    
    }

}

@media (max-width:947px) {
    .head-tag-text{
        padding: 9rem 2rem 0rem 0rem;
        margin-left: -12%;
        width: 100%;
        overflow: hidden;
    
    }
    .head-tag-text h1{
        font-size: 2.5rem;
        width:max-content;
    
    }
    .head-tag-text h4{
        width: 160%;
    
    }
    .headder-sec-02 svg{
        width: 80%;
    
    }
    .content{
        padding: 0rem 0rem 0rem 10rem;
        z-index: 0;
        margin-top: -35rem;
        justify-content:right;
       display: grid;
       position:relative;
       gap: 2rem;
       box-sizing: border-box;
    }
    .head-box-model{
        display: inline-flex;
        padding: 0.2rem;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        /* background-color: green; */
    
    
    }
}
@media (max-width:816px) {

    .head-tag-text{
        padding: 9rem 0rem 0rem 0rem;
        margin-left: -15%;
        width: 100%;
        overflow: hidden;
        /* background-color: rebeccapurple; */

    }
    .head-tag-text h1{
        font-size: 2.3rem;
        width:fit-content;
     /* background-color: rebeccapurple; */
    }
    .head-tag-text h4{
        width:fit-content;

    }
    .blockOfSqures {
        margin-top: 1rem;
    }
    .blockOfSqures svg:not(:last-child) {
        display: none;
        
    }
    .blockOfSqures svg:not(:first-child) {
        display: block;
        height: 30rem;
        width: 100%;
        max-width: fit-content;
        margin-left: 0rem;
        overflow:hidden;



    }

    
    .content{
        
        padding: 0rem 0rem 0rem 5rem;
        z-index: 0;
        margin-top: -30rem;
        justify-content:right;
       display: grid;
       position:relative;
       gap: 2rem;
       box-sizing: border-box;
    }
    .head-box-model{
        display: inline-flex;
        padding: 0.2rem;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    
    
    }

}

@media (max-width:560px) {

    .Section-02{
        padding: 0rem 0.8rem ;
        margin: 0;
    
    }

    .head-tag-text{
        padding: 9rem 0rem 0rem 0rem;
        margin-left: -35%;
        width: fit-content;

    }
    .head-tag-text h1{
        font-size: 2.1rem;
        width:fit-content;
        /* text-align: center; */
        

    }
    .head-tag-text h4{
        width:60%;
        padding: 0.7rem 0rem;
        text-align: left;

    }

    .content{
        
        padding: 0rem 5rem 0rem 1rem;
        z-index: 0;
        margin-top: -31rem;
       display: grid;
       gap: 1.3rem;
       box-sizing:content-box;
    }
    .Review-box-model{
        padding: 0.4rem 1.4rem;
        width: 100%;
        max-height: 1000%;
         box-shadow: 0 0 30px black;
         background-color: white;
         border-radius: 0.7rem;
         box-sizing:content-box;
         box-shadow: 0 0 19px rgba(0, 0, 0, 0.185);
         z-index: 4;
     
     }

     .review-er-image img{
       
        transform: scale(1);
        border-radius: 0.341rem;
        object-fit:cover;
     
    }
    .review-er-image{
        padding: 0 ;
        width: 100%;
        
    }
    .head-box-model{
        display: inline-flex;
        padding: 0.4rem 0rem 0.6rem 0rem;;
        flex-wrap: wrap;
    
    
    }
    .review-er-name-post{
        padding: 0rem;
    }

    .review-er-name-post h1{
        font-size: 1.3rem;
        color: rgba(45, 45, 45, 0.874);
        font-weight: normal;
    }
    .review-er-name-post h6{

        font-size: .6rem;
        width: 145%;
        color: #4131f4;
    }

    .riview-text{
        padding: 0.5rem 0rem;
        width: 100%;
        font-size: 0.8rem;
  
        
    }

    .Review-box-model:nth-child(2) {
        /* margin-top: 1.9rem; */
    margin-left: -0.4rem;
     
    }
    
    .Review-box-model:nth-child(1) {
    margin-left: 0.7rem;
     
    }
    .Review-box-model:nth-child(3) {
        margin-left: 1rem;
         
        }

    
}