.Section-02{
    padding: auto;
    padding: 0rem 4rem ;

}
.headder-sec-02{
    display: flex;
    padding: 0rem 0rem;
    width: 100%;
}
.headder-sec-02 svg{
    width: 100%;

}
.head-tag-text{
    padding: 10rem 0rem;
    margin-left: -6%;

}
.head-tag-text h4{
    padding: 0rem 0rem;
    font-weight: normal;
    font-size: 1rem;
    width: 70%;

}
.blockOfSqures svg{
    width: 100%;
    z-index: -1;
    position: relative;
}
.Reviews-boxs{
    

}
.Review-box-model{
   padding: 0.8rem 1.7rem;
   /* height: 15rem; */
   width: 100%;
   max-height: 100%;
    /* color: white; */
    box-sizing: 0 0 30px black;
    background-color: white;
    border-radius: 0.7rem;
    box-sizing:border-box;
    box-shadow: 0 0 19px rgba(0, 0, 0, 0.185);
    z-index: 4;

}

.content{
    padding: 0rem 0rem 0rem 32rem;
    z-index: 0;
    margin-top: -48rem;
    justify-content:right;
   display: grid;
   position:relative;
   gap: 2rem;
   box-sizing: border-box;
}
 .Review-box-model:nth-child(2) {
    /* margin-top: 1.9rem; */
margin-left: -6rem;
 
}

.Review-box-model:nth-child(3) {
    /* margin-top: 1.9rem; */
    margin-bottom: 5rem;
margin-left: -3rem;
 
}

.head-box-model{
    border-color: rgba(0, 0, 0, 0.436);
    border-bottom: 5px;
    padding:  0rem 0rem 1rem 0rem ;
    width: 100%;
    float:right;

}
hr{

border-color:rgba(0, 0, 0, 0.29) ;
}
.riview-text{
    padding: 1.5rem 0rem;
    width: 100%;
    

}
.Reviews-boxs .Review-box-model:last-child {
    padding: 1rem 2rem;
    height: 12rem;
    width: 100%;
     box-sizing: 0 0 30px black;
     background-color: white;
     border-radius: 1rem;
     box-sizing: border-box;
     box-shadow: 0 0 19px rgba(0, 0, 0, 0.185);
     margin-left: -30%;
}

.review-er-image img{
    height:100%;
    width: 2rem;
    transform: scale(1.4);
    border-radius: 0.341rem;
 
}
.review-er-image{
    padding: 1rem 0rem 1.4rem 0.4rem;
    width: 100%;
    /* border: 1px solid white; */
    
}
.head-box-model{
    display: inline-flex;
    padding: 1rem;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    /* background-color: green; */


}
.review-er-details{
    display: flex;
    flex-wrap: nowrap;
    /* width: 100%; */
    /* background-color: blue; */

}
.review-er-name-post{
    max-width: 100%;
    padding: 0rem 0rem 0rem 1rem;
}
.review-er-name-post h1{
    font-size: 1.6rem;
    color: rgba(45, 45, 45, 0.874);
}
.review-er-name-post h6{
    font-size: .8rem;
    width: 145%;
    color: #4131f4d2;
}




/* ------------------- */

@media (max-width:1137px) {

    .head-tag-text h4{
        padding: 0rem 0rem;
        font-weight: normal;
        font-size: 1rem;
        width: 100%;
    
    }
    .blockOfSqures svg{
        
        margin-top: -3rem;
    }

    .head-tag-text{
        padding: 9rem 25rem 0rem 0rem;
        margin-left: -8%;
    
    }
    .riview-text{
        padding: 1rem 0rem;
        width: 100%;
    }

    .content{
        padding: 0rem 0rem 0rem 18rem;
        z-index: 0;
        margin-top: -35rem;
        justify-content:right;
       display: grid;
       position:relative;
       gap: 2rem;
       box-sizing: border-box;
    }
    .head-box-model{
        display: inline-flex;
        padding: 0.2rem;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        /* background-color: green; */
    
    
    }

}

@media (max-width:947px) {
    .head-tag-text{
        padding: 9rem 0rem 0rem 0rem;
        margin-left: -12%;
    
    }
    .headder-sec-02 svg{
        width: 80%;
    
    }
    .content{
        padding: 0rem 0rem 0rem 10rem;
        z-index: 0;
        margin-top: -35rem;
        justify-content:right;
       display: grid;
       position:relative;
       gap: 2rem;
       box-sizing: border-box;
    }
    .head-box-model{
        display: inline-flex;
        padding: 0.2rem;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        /* background-color: green; */
    
    
    }
}