.Section03{
    margin-top: 15rem;
}
.Templates_head{
    display: flex;
    justify-content:space-evenly;
    gap: 5rem;
}
.Templates_head h1{
    font-size: 5rem;
}


.back_templetes img{
    width: 100%;
    position: static;
    z-index: -2;
}

.showTemplates{
    z-index: 0;
    margin-top: -28rem;
    padding: 5rem;
}
.templates{
    text-align: center;
    margin-top: -11rem;
    display: flex;
    position:relative;
    z-index: 0;
    flex-wrap: nowrap;
    width: 100%;
  padding: 0 5rem 0 5rem;
}
.templates img{
    width: 100%;

    object-fit: contain;
}